html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 400px;
    
}     

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
    margin-bottom: 0;
}

.bg {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.colors {
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 500px;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(45deg,  #dd1515 10%, #e15617 35%, #e15617 65%, #EB8915 90%);
}

.container {
    display: flex;
    gap: 15px;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
    width: 70%;
    max-width: 750px;
    height: fit-content;
    border-radius: 30px;
    padding: 20px 30px;
    position: relative;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-family: "Montserrat";
}

.form {
    width: 50%;
    transition: opacity 1s ease;
}

.input-text {
    background-color: rgb(222, 222, 222);
    box-shadow: 0 0 5px black ;
    border-radius: 12px;
    height: 36px;
    width: 80%;
    padding: 2px 5px;
    border: none;
    font-family: "Montserrat";
    transition: box-shadow 0.5s ease;
}

.input-text:hover {
    box-shadow: 0 0 5px rgb(126, 126, 126);
}

.input-text:focus {
    background-color: rgb(233, 233, 233);
}

.btns {
    margin-top: 12px;
}

.btn {
    width: 84px;
    height: 32px;
    border: none;
    cursor: pointer;
    border-radius: 32px;
    font-family: "Montserrat";
    font-weight: bold;
    color: white;
    transition: box-shadow 0.5s ease;
}

.btn-limpiar {
    background-color: #ff5757;
}

.btn-ing {
    background-color: #ff3131;
}

.btn-reg {
    width: 100px;
    background-color: #ff3131;
}

.btn:hover {
    box-shadow: 0 0 3px black;
}

.images {
    width: 50%;
    min-width: 235px;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    border-radius: 30px;
    transition: translate 1s ease;
}

.register {
    translate: 0px 0px;
}

.login {
    translate: 100% 0px;
}

.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    border-radius: 30px;
    transition: opacity 1s ease;
}

.active {
    opacity: 100%;
    z-index: 4;
}

.no-active {
    opacity: 0%;
    z-index: 3;
}

a {
    color: #ff3131;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
}